.frontpage-bg {
    min-height: 400px;
}

footer {
    background-color: black;
    color: lightgrey;
    padding: 20px;
}

#search-3 #s {
    background-color: black;
    border-radius: 6px;
}

#search-3 #searchsubmit {
    color: black;
    border-radius: 15px;
}

footer * {
    display: inline-block;
    text-align: center;
}

.screen-reader-text {
    display: none;
}

#search-3 h4 {
    margin-right: 15px;
}

.post-image {
    max-width: 100%;
    height: 140px;
    margin: 10px;
    border-radius: 5px;
}

h4.taxonomy-field {
    color: blue;
}

.left-img {
    margin-top: 20px;
    float: left;
}

.posts-archive-block h1 {
    font-size: 20px;
}

/*REGISTRATION FORM*/
.moviesinfo-reg-form .container {
    max-width: 500px;
    margin: 20px auto;
    display: block;
}
.moviesinfo-reg-form #form-error-found {
    color: red;
    font-weight: bold;
    text-align: center;
}
.moviesinfo-reg-form input[type=text], .moviesinfo-reg-form input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.moviesinfo-reg-form input[type=text]:focus, .moviesinfo-reg-form input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.moviesinfo-reg-form hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.moviesinfo-reg-form button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.moviesinfo-reg-form button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.moviesinfo-reg-form .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.moviesinfo-reg-form .cancelbtn, .moviesinfo-reg-form .signupbtn {
    float: left;
    width: 50%;
}

.moviesinfo-reg-form .container {
    padding: 16px;
}

/* Clear floats */
.moviesinfo-reg-form .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .moviesinfo-reg-form .cancelbtn, .moviesinfo-reg-form .signupbtn {
        width: 100%;
    }
}
/*REGISTRATION FORM*/